* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(109.6deg, rgb(84, 13, 110) 11.2%, rgb(238, 66, 102) 100.2%);
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.welcome-section {
  color: #d8d8d8;
  z-index: 5;
}
.welcome-section .welcome-section-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.welcome-section .img-element img {
  padding: 20px 30px;
  width: 230px;
}
.welcome-section .txt-elements {
  order: 1;
  display: flex;
  flex-direction: column;
}
.welcome-section .txt-elements h1 {
  padding: 30px 30px 0 30px;
  text-transform: uppercase;
  font-size: 3.5rem;
}
.welcome-section .txt-elements span {
  padding: 30px;
  font-size: 2rem;
}
.welcome-section .see-more-btn {
  text-decoration: none;
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
  border: none;
  background-color: #f70647;
  color: #d8d8d8;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 1px;
  transition: background-color, 0.3s;
}
.welcome-section .see-more-btn:hover {
  background-color: #b6123e;
}

.technology-section {
  background-color: #43005d;
}
.technology-section .techlonogy-section-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.technology-section .techlonogy-section-elements img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 250px;
}
.technology-section .techlonogy-section-elements h3, .technology-section .techlonogy-section-elements p {
  padding: 15px 30px;
}
.technology-section .techlonogy-section-elements h2 {
  color: #d8d8d8;
  font-size: 4rem;
  line-break: auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.technology-section .techlonogy-section-elements h3 {
  color: #f70647;
  font-size: 3rem;
  text-transform: uppercase;
}
.technology-section .techlonogy-section-elements p {
  font-size: 1.5rem;
  color: #d8d8d8;
}
.technology-section .techlonogy-section-elements .technology-second-lower-title, .technology-section .techlonogy-section-elements .technology-second-title, .technology-section .techlonogy-section-elements .technology-second-paragraph {
  text-align: right;
}
.technology-section .techlonogy-section-elements .img-wrapper {
  align-self: flex-end;
}

.numbers-section {
  background-color: #fff;
}
.numbers-section h2 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 60px;
  font-size: 5rem;
  color: #43005d;
  padding-bottom: 50px;
}
.numbers-section .numbers-elements {
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 50px;
}
.numbers-section .numbers-elements .single-element {
  width: 150px;
  margin: 0 5px;
  padding: 20px 30px;
}
.numbers-section .numbers-elements .single-element h3 {
  font-size: 5rem;
  color: #f70647;
}
.numbers-section .numbers-elements .single-element p {
  font-size: 2rem;
  color: #43005d;
  font-weight: bold;
  text-transform: uppercase;
}

.contact-hero {
  position: relative;
  background-image: url("../img/job-5382501_640.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-attachment: fixed;
  z-index: 0;
}
.contact-hero .contact-shadow {
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  z-index: -5;
  left: 0;
  position: absolute;
  background-color: rgba(74, 32, 87, 0.836);
}
.contact-hero h2 {
  text-transform: uppercase;
  text-align: center;
  padding: 60px 10px;
  padding-bottom: 10px;
  font-size: 5rem;
  font-weight: 700;
  color: #f70647;
}
.contact-hero p {
  color: #d8d8d8;
  font-size: 1.5rem;
  padding: 10px 50px;
  line-height: 25px;
  font-weight: 400;
}
.contact-hero .contact-form {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.contact-hero .contact-form form {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}
.contact-hero .contact-form form input,
.contact-hero .contact-form form textarea {
  margin-bottom: 5px;
  background: none;
  padding: 10px 0;
  font-weight: bold;
  border: 3px solid #f70647;
}
.contact-hero .contact-form form input::-moz-placeholder, .contact-hero .contact-form form textarea::-moz-placeholder {
  color: #d8d8d8;
}
.contact-hero .contact-form form input::placeholder,
.contact-hero .contact-form form textarea::placeholder,
.contact-hero .contact-form form input {
  color: #d8d8d8;
}
.contact-hero .contact-form form .input-padding {
  padding-left: 10px;
}
.contact-hero .contact-form form textarea {
  max-width: 100%;
}
.contact-hero .contact-form form .submit-btn {
  width: 125px;
  background-color: #f70647;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.user-design {
  text-align: left;
  overflow-x: hidden;
}
.user-design .user-design-wrapper {
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
}
.user-design .design-first-title {
  color: #d8d8d8;
  font-size: 5rem;
}
.user-design .user-second-title {
  text-transform: uppercase;
  font-size: 3rem;
  color: #f70647;
  letter-spacing: 4px;
}
.user-design .user-second-title,
.user-design .design-first-title {
  padding: 20px 30px;
}
.user-design .user-paragraph {
  color: #d8d8d8;
  padding: 0 30px;
  font-size: 1.5rem;
  line-height: 25px;
}
.user-design .left-top-image,
.user-design .right-top-text,
.user-design .left-bottom-text,
.user-design .right-bottom-image {
  width: 100%;
  min-height: 500px;
  max-height: 500px;
}
.user-design .left-top-image {
  background-image: url("../img/connection.png");
  background-size: cover;
}
.user-design .right-top-text {
  background-color: #43005d;
}
.user-design .left-bottom-text {
  background-color: #f8f5f5;
}
.user-design .left-bottom-text h3 {
  padding-top: 50px;
}
.user-design .left-bottom-text p {
  color: #000;
}
.user-design .left-bottom-text img {
  width: 100%;
  -o-object-position: center top;
     object-position: center top;
}
.user-design .right-bottom-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: center top;
     object-position: center top;
}

.get-app .get-app-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.get-app .get-app-wrapper .get-app-title {
  color: #d8d8d8;
  text-transform: uppercase;
  font-size: 5rem;
  margin-top: 50px;
}
.get-app .get-app-wrapper p {
  font-size: 1.5rem;
  padding: 20px 30px;
  color: #d8d8d8;
  font-size: 1.5rem;
  line-height: 25px;
}
.get-app .get-app-wrapper span {
  color: #f70647;
  border-bottom: 3px solid;
  font-size: 6rem;
}
.get-app .get-app-wrapper img {
  width: 50%;
}

footer {
  text-align: center;
  padding: 40px 15px;
  background-color: #333333;
}
footer p {
  font-size: 1.8rem;
  color: #d8d8d8;
}/*# sourceMappingURL=style.css.map */