* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.welcome-section {
  min-height: 100vh;
  color: #d8d8d8;
  z-index: 5;
  background: rgb(63, 94, 251);
  background: radial-gradient(circle, rgb(63, 94, 251) 0%, rgb(252, 70, 107) 100%);
}
.welcome-section .welcome-section-elements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.welcome-section h1 {
  margin-top: 30px;
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 3.5rem;
}
.welcome-section p {
  margin: 0 20px;
  font-size: 2rem;
}
.welcome-section img {
  align-self: center;
  width: 200px;
  margin-top: 10px;
}
.welcome-section a {
  text-decoration: none;
}
.welcome-section .see-more-btn {
  padding: 20px 30px;
  margin: 20px 20px;
  border: none;
  background-color: #f70647;
  color: #d8d8d8;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 1px;
  transition: background-color, 0.3s;
}
.welcome-section .see-more-btn:hover {
  background-color: #b6123e;
}

.technology-section {
  background-color: #43005d;
  height: 155vh;
}
.technology-section .techlonogy-section-elements {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.technology-section .techlonogy-section-elements img {
  width: 280px;
}
.technology-section .techlonogy-section-elements h2 {
  font-size: 8rem;
  font-weight: lighter;
  color: #d8d8d8;
  letter-spacing: 3px;
}
.technology-section .techlonogy-section-elements .technology-first-title {
  margin-top: 20px;
  align-self: flex-start;
}
.technology-section .techlonogy-section-elements h3 {
  color: #f70647;
  font-size: 3rem;
  text-transform: uppercase;
}
.technology-section .techlonogy-section-elements p {
  color: #d8d8d8;
  margin-top: 10px;
  padding-right: 20px;
  font-size: 1.6rem;
}
.technology-section .techlonogy-section-elements .technology-first-lower-title,
.technology-section .techlonogy-section-elements .technology-second-lower-title {
  margin-left: 20px;
}
.technology-section .techlonogy-section-elements .technology-first-paragraph {
  text-align: right;
}
.technology-section .techlonogy-section-elements .technology-second-title {
  text-align: left;
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}
.technology-section .techlonogy-section-elements .technology-second-paragraph {
  padding-left: 20px;
}

.numbers-section {
  background-color: #fff;
}
.numbers-section h2 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 60px;
  font-size: 5rem;
  color: #43005d;
  margin-bottom: 50px;
}
.numbers-section .numbers-elements {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 50px;
}
.numbers-section .numbers-elements .single-element {
  width: 150px;
  margin: 0 5px;
  padding: 20px 30px;
}
.numbers-section .numbers-elements .single-element h3 {
  font-size: 5rem;
  color: #f70647;
}
.numbers-section .numbers-elements .single-element p {
  font-size: 2rem;
  color: #43005d;
  font-weight: bold;
  text-transform: uppercase;
}

.contact-hero {
  position: relative;
  background-image: url("../img/job-5382501_640.jpg");
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
.contact-hero .contact-shadow {
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  z-index: -5;
  left: 0;
  position: absolute;
  background-color: rgba(74, 32, 87, 0.836);
}
.contact-hero h2 {
  text-transform: uppercase;
  text-align: center;
  padding: 60px 10px;
  padding-bottom: 10px;
  font-size: 5rem;
  font-weight: 700;
  color: #f70647;
}
.contact-hero p {
  color: #d8d8d8;
  font-size: 1.5rem;
  padding: 10px 50px;
  line-height: 25px;
  font-weight: 400;
}
.contact-hero .contact-form {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.contact-hero .contact-form form {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}
.contact-hero .contact-form form input,
.contact-hero .contact-form form textarea {
  margin-bottom: 5px;
  background: none;
  padding: 10px 0;
  font-weight: bold;
  border: 3px solid #f70647;
}
.contact-hero .contact-form form input::-moz-placeholder, .contact-hero .contact-form form textarea::-moz-placeholder {
  color: #d8d8d8;
}
.contact-hero .contact-form form input::placeholder,
.contact-hero .contact-form form textarea::placeholder,
.contact-hero .contact-form form input {
  color: #d8d8d8;
}
.contact-hero .contact-form form .input-padding {
  padding-left: 10px;
}
.contact-hero .contact-form form textarea {
  max-width: 100%;
}
.contact-hero .contact-form form .submit-btn {
  width: 125px;
  background-color: #f70647;
  text-transform: uppercase;
  letter-spacing: 2px;
}/*# sourceMappingURL=style.css.map */