.welcome-section {
    min-height: 70vh;
	.welcome-section-elements {
		h1 {
			margin-left: 300px;
			font-size: 5rem;
		}
		p,
		.see-more-btn {
			margin-left: 300px;
		}
		img {
			left: 50%;
            width:350px;
            top:90%;
		}
	}
}
