.welcome-section {
	min-height: 70vh;
	.welcome-section-elements {
		h1 {
			margin-left: 300px;
			font-size: 5rem;
		}
		p,
		.see-more-btn {
			margin-left: 300px;
		}
		img {
			left: 50%;
			width: 350px;
			top: 90%;
		}
	}
}
.technology-section {
	.techlonogy-section-elements {
		img {
			height: 500px;
		}
	}
}
.right-bottom-image{
	img{
		width:50%;
	}
}

