.welcome-section{
	margin-top:80px;
	margin-bottom: 80px;
}

.technology-section {
	.techlonogy-section-elements {
		img {
			width: 350px;
		}
		.single-element{
			padding:50px;
		}
		h2{
			font-size: 5rem;
		}
		h3{
			font-size: 4rem;
		}
		p{
			font-size: 2rem;
		}
		.img-wrapper{
			width:400px;
		}
	}

}

.elements-wrapper{
	justify-content: space-around;
}
.right-bottom-image {
	img {
		width: 50%;
	}
}

.d-none{
	display:none;
}