.welcome-section{
	.welcome-section-elements{
		flex-direction: row;
		flex-wrap: nowrap;

		.txt-elements{
			display: flex;
			flex-wrap: nowrap;
			h1{
				font-size: 5rem;

			}
			
		}
		.img-element{

			img{
				width:400px;
			}
		}
	}
}

.technology-section {
	height: 70vh;
	.techlonogy-section-elements {
		height: 70vh;
		img {
			height: 400px;
			position: absolute;
			object-fit: cover;
			top: -70px;
			left: 40px;
		}
		.technology-first-title {
			// position:absolute;
			align-self: center;
		}
		.technology-first-lower-title {
			align-self: flex-end;
			margin-left: 20px;
			padding: 15px;
		}
		.technology-first-paragraph {
			max-width: 500px;
			align-self: flex-end;
		}
		.technology-second-title,
		.technology-second-lower-title {
			align-self: flex-start;
			margin-left: 30px;
		}
		.technology-second-title {
			margin-top: 50px;
		}
		.technology-second-paragraph {
			max-width: 700px;
			align-self: flex-start;
			margin-left: 30px;
		}
	}
}

.contact-hero {
	background-image: url('../img/job-5382501_1280.jpg');
	min-height: 30vh;
}
.elements-wrapper {
	display: flex;

	padding-top: 50px;
}
.user-design {
	.left-top-image,
	.right-top-text,
	.left-bottom-text,
	.right-bottom-image {
		width: 50%;
	}
}

.get-app {
	.get-app-wrapper {
		img {
			width: 50%;
		}
	}
}
