.welcome-section {
	min-height: 50vh;
	.welcome-section-elements {
		position: relative;
		// flex-direction: row;
		h1 {
			margin-top: 100px;
			margin-left: 50px;
			font-size: 5rem;
		}
		p,
		.see-more-btn {
			margin-left: 50px;
		}
		img {
			position: absolute;
			top: 60%;
			right: 15%;
			transform: translateY(-50%);
			width: 250px;
			align-self: flex-end;
		}
	}
}

.technology-section {
    height: 70vh;
	.techlonogy-section-elements {
		height: 70vh;
		img {
			height: 400px;
			position: absolute;
			object-fit: cover;
			top: -70px;
			left: 40px;
		}
		.technology-first-title {
			// position:absolute;
			align-self: center;
		}
		.technology-first-lower-title {
			align-self: flex-end;
			margin-left: 20px;
            padding:15px;
		}
		.technology-first-paragpaph {
			max-width: 500px;
			align-self: flex-end;
		}
		.technology-second-title,
		.technology-second-lower-title {
			align-self: flex-start;
			margin-left: 30px;
		}
        .technology-second-title{
            margin-top:50px;
        }
		.technology-second-paragpaph {
			max-width: 700px;
			align-self: flex-start;
			margin-left: 30px;
		}
	}
}
