.welcome-section {
	.welcome-section-elements {
		flex-direction: row;
		flex-wrap: nowrap;

		.txt-elements {
			display: flex;
			flex-wrap: nowrap;
			h1 {
				font-size: 5rem;
			}
		}
		.img-element {
			img {
				width: 400px;
			}
		}
	}
}
.technology-section{
	.techlonogy-section-elements{
		position: relative;
		
		
		.img-element {
			position: absolute;
			left: 62%;
			top: -10%;
			img {
				height: 300px;
			}
		}
		.single-element {
			width: 60%;
			h2{
				padding:20px 60px;
			}
			h3, p{
				padding:20px 60px;
			}
		}
		.flex-end-wrapper-one{
			align-self: flex-start;
		}
		.flex-end-wrapper-two{
			align-self: flex-end;
		}
		.img-wrapper{
			align-self: center;
			position: absolute;
			bottom: 0;
			left: 10%;
				width: 300px;
			
		}
	}
}

.contact-hero {
	background-image: url('../img/job-5382501_1280.jpg');
	min-height: 30vh;
}
.elements-wrapper {
	display: flex;

	padding-top: 50px;
}
.user-design {
	.left-top-image,
	.right-top-text,
	.left-bottom-text,
	.right-bottom-image {
		width: 50%;
	}
}

.get-app {
	.get-app-wrapper {
		img {
			width: 50%;
		}
	}
}
