@use './colors' as c;
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}

// sekcja pierwsza

.welcome-section {
	min-height: 100vh;
	color: c.$heading-color;
	z-index: 5;
	background: rgb(63, 94, 251);
	background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
	.welcome-section-elements {
		display: flex;
		flex-direction: column;

		align-items: flex-start;
	}
	h1 {
		margin-top: 30px;
		margin-left: 20px;
		text-transform: uppercase;
		font-size: 3.5rem;
	}

	p {
		margin: 0 20px;
		font-size: 2rem;
	}
	img {
		align-self: center;
		width: 200px;
		margin-top: 10px;
	}
	.see-more-btn {
		padding: 20px 30px;
		margin: 20px 20px;
		border: none;
		background-color: c.$btn-color;
		color: c.$heading-color;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 1px;
	}
}

// sekcja druga

.technology-section {
	background-color: c.$techology-color;
	height: 130vh;
	.techlonogy-section-elements {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		img {
			width: 280px;
		}
		h2 {
			font-size: 8rem;
			font-weight: lighter;
			color: c.$heading-color;
			letter-spacing: 3px;
		}
		.technology-first-title {
			margin-top: 20px;
			align-self: flex-start;
		}
		h3 {
			color: c.$medium-title;
			font-size: 3rem;
			text-transform: uppercase;
		}
		p {
			color: c.$heading-color;
			margin-top: 10px;
			padding-right: 20px;
			font-size: 1.6rem;
		}
		.technology-first-lower-title, .technology-second-lower-title {
			margin-left: 20px;
		}
		.technology-first-paragpaph {
			text-align: right;
		}
		.technology-second-title {
			text-align: left;
			align-self: flex-end;
			margin-top: 20px;
			margin-right: 20px;
		}
		
	}
}
