@use './colors' as c;
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	
}
body {
	background: linear-gradient(109.6deg, rgb(84, 13, 110) 11.2%, rgb(238, 66, 102) 100.2%);
	
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

// sekcja pierwsza

.welcome-section {
	min-height: 100vh;
	color: c.$heading-color;
	z-index: 5;

	.welcome-section-elements {
		display: flex;
		flex-direction: column;

		align-items: flex-start;
	}
	h1 {
		margin-top: 30px;
		margin-left: 20px;
		text-transform: uppercase;
		font-size: 3.5rem;
	}

	p {
		margin: 0 20px;
		font-size: 2rem;
	}
	img {
		align-self: center;
		width: 200px;
		margin-top: 10px;
	}
	a {
		text-decoration: none;
	}
	.see-more-btn {
		padding: 20px 30px;
		margin: 20px 20px;
		border: none;
		background-color: c.$btn-color;
		color: c.$heading-color;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.2rem;
		letter-spacing: 1px;
		transition: background-color, 0.3s;
	}
	.see-more-btn:hover {
		background-color: c.$btn-color-hover;
	}
}

// sekcja druga

.technology-section {
	background-color: c.$techology-color;
	height: 155vh;
	position: relative;
	.techlonogy-section-elements {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		img {
			width: 280px;
		}
		h2 {
			font-size: 8rem;
			font-weight: lighter;
			color: c.$heading-color;
			letter-spacing: 3px;
		}
		.technology-first-title {
			margin-top: 20px;
			align-self: flex-start;
		}
		h3 {
			color: c.$medium-title;
			font-size: 3rem;
			text-transform: uppercase;
		}
		p {
			color: c.$heading-color;
			margin-top: 10px;
			padding-right: 20px;
			font-size: 1.6rem;
		}
		.technology-first-lower-title,
		.technology-second-lower-title {
			margin-left: 20px;
		}
		.technology-first-paragraph {
			text-align: right;
		}
		.technology-second-title {
			text-align: left;
			align-self: flex-end;
			margin-top: 20px;
			margin-right: 20px;
		}
		.technology-second-paragraph {
			padding-left: 20px;
		}
	}
}

// sekcja trzecia

.numbers-section {
		background-color: #fff;
	h2 {
		text-transform: uppercase;
		text-align: center;
		padding-top: 60px;
		font-size: 5rem;
		color: c.$title-font-color;
		padding-bottom: 50px;
	}
	.numbers-elements {
		overflow-y: hidden;
		overflow-x: hidden;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		text-align: center;
		padding-bottom: 50px;
		.single-element {
			width: 150px;
			margin: 0 5px;
			padding: 20px 30px;
			h3 {
				font-size: 5rem;
				color: c.$medium-title;
			}
			p {
				font-size: 2rem;
				color: c.$title-font-color;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}
}

//sekcja kontakt

.contact-hero {
	position: relative;
	background-image: url('../img/job-5382501_640.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	overflow-x: hidden;
	background-attachment: fixed;

	z-index: 0;
	.contact-shadow {
		width: 100%;
		height: 100%;
		z-index: 0;
		top: 0;
		z-index: -5;
		left: 0;
		position: absolute;
		background-color: rgba(74, 32, 87, 0.836);
	}
	h2 {
		text-transform: uppercase;
		text-align: center;
		padding: 60px 10px;
		padding-bottom: 10px;
		font-size: 5rem;
		font-weight: 700;
		color: c.$medium-title;
	}
	p {
		color: c.$heading-color;
		font-size: 1.5rem;
		padding: 10px 50px;
		line-height: 25px;
		font-weight: 400;
	}
	.contact-form {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;

		form {
			display: flex;

			flex-direction: column;
			padding: 20px 30px;
			input,
			textarea {
				margin-bottom: 5px;
				background: none;
				padding: 10px 0;
				font-weight: bold;

				border: 3px solid c.$btn-color;
			}
			input::placeholder,
			textarea::placeholder,
			input {
				color: c.$heading-color;
			}
			.input-padding {
				padding-left: 10px;
			}
			textarea {
				max-width: 100%;
			}
			.submit-btn {
				width: 125px;
				background-color: c.$btn-color;
				text-transform: uppercase;
				letter-spacing: 2px;
			}
		}
	}
}
// sekcja user design

.user-design {
	text-align: left;
	overflow-x: hidden;
	.user-design-wrapper {
		overflow-y: hidden;
		overflow-x: hidden;
		display: flex;
		flex-wrap: wrap;
	
	}
	.design-first-title {
		color: c.$heading-color;
		font-size: 5rem;
	}
	.user-second-title {
		text-transform: uppercase;
		font-size: 3rem;
		color: c.$medium-title;
	}
	.user-second-title,
	.design-first-title {
		padding: 20px 30px;
	}
	.user-paragraph {
		color: c.$heading-color;
		padding: 0 30px;
		font-size: 1.5rem;
		line-height: 25px;
	}
	.left-top-image,
	.right-top-text,
	.left-bottom-text,
	.right-bottom-image {
		width: 100%;
		min-height: 500px;
		max-height: 500px;
	}

	.left-top-image {
		background-image: url('../img/connection.png');
		background-size: cover;
		// transform: translateY(1px);
	}
	.right-top-text {
		background-color: c.$techology-color;
	}
	.left-bottom-text {
		background-color: c.$white-background;

		h3 {
			padding-top: 50px;
		}
		p {
			color: #000;
		}
		img {
			width: 100%;
			object-position: center top;
		}
	}
	.right-bottom-image {
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			object-position: center top;
		}
	}
}

// get app sekcja

.get-app {
	.get-app-wrapper {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
		.get-app-title {
			color: c.$heading-color;
			text-transform: uppercase;
			font-size: 5rem;
			margin-top: 50px;
		}
		p {
			font-size: 1.5rem;
			padding: 20px 30px;
			color: c.$heading-color;
			font-size: 1.5rem;
			line-height: 25px;
		}
		span {
			color: c.$medium-title;
			border-bottom: 3px solid;
			font-size: 6rem;
		}
		img {
			width: 50%;
		}
	}
}
footer {
	text-align: center;
	padding: 40px 15px;
	background-color: c.$footer-bg-color;
	p {
		font-size: 1.8rem;
		color: c.$heading-color;
	}
}
